p {
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin-bottom: -10px;
    margin-right: 30px;
    align-items: initial;
}

.name {
    font-size: 1.4rem;
    font-weight: bold;
}

.price {
    margin-bottom: 10px;
}

button {
    font-size: 1.2rem;
    height: 36px;
    padding: 5px 30px;
    color: #fff;
    background-color: #2E86C1;
    border: 1px solid #000;
}

button:hover {
    background-color: #2874A6;
}